%br
%p.lead{"style" => "text-indent:20px;"} 
	As acting CEO of
	= current_user.company_name
	you may perform various operations such as:

%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Approve or reject a newly registered manager
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Create new projects
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Monitor the status of different projects
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Assign managers to different projects
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Fire managers/employees