%br
%p.lead{"style" => "text-indent:20px;"} 
	As a manager of
	= current_user.company_name
	you may perform various operations such as:

%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Approve or reject a newly registered employee
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Suppervise projects that you have been assigned to
/ %p{"style" => "text-indent:20px;"}
/ 	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
/ 	Give Recommendation Points (RP)
%p{"style" => "text-indent:20px;"}
	%i.fa.fa-rocket{"style" => "padding-right:10px;"}
	Fire employees