.card.card-register.mx-auto.mt-5
	.card-header Payment
	.card-body

		- company_plan = CompanyPlan.find_by(id: current_user.company_plan_id)
		- amount = company_plan.price
		- title = company_plan.plan
		- if company_plan.id == 2
			- description = "Up to 5 Managers, 30 Employees & 20 Projects."
		- elsif company_plan.id == 3
			- description = "Up to 15 Managers, 150 Employees & 50 Projects."
		- else
			- description = "Unlimited number of Managers, Employees & Projects."

		.form-group
			.form-row
				.col-md-9
					.description{style: "text-align:left; margin-left:25px;"}
						%h4
							%b
								= title
							plan.
						%p{style: "color:#ddd;"}
							= description
				.col-md-3
					.price{style: "text-align:right; margin-right:25px;"}
						%h4
							= amount
							$
		
		%hr

		.form-group{style: "text-align:right;"}
			= form_tag pay_payment_path(current_user), method: :post do
				%script{src: "https://checkout.stripe.com/checkout.js", class: "stripe-button", data: {key: "pk_test_YLaBMX7kMorxrEVJoBbqp0P9", amount: amount * 100, name: title, description: description, image: nil, locale: "auto"}}
