:javascript
	window.location.href="/projects"
/ %ol.breadcrumb
/   %li.breadcrumb-item
/     = link_to 'Back', daily_task_path(@contribution.daily_task_id)
/   %li.breadcrumb-item.active Edit contribution

/ .card.mx-auto.mt-5
/   .card-header 
/     %i.fa.fa-fw.fa-file-o
/     Edit contribution
/   .card-body

/ %br