!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
  
    %title Page not found :(

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body#page-top.fixed-nav.sticky-footer.bg-dark
    .card.card-login.mx-auto.mt-5
      .card-header 
        %h5
          %b
            404:
          Page not found
      .card-body
        %center
          %h5
            = link_to 'Home', authenticated_root_path
          
