/ - if current_user.account_type != "startup" && current_user.register_as == "CEO" && current_user.paid == false
/   :javascript
/     window.location.href="/pages/payment"
/ - else 
/ Breadcrumbs
%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Back', project_path(@project)
  %li.breadcrumb-item.active Edit project

.card.mx-auto.mt-5
  .card-header 
    %i.fa.fa-fw.fa-file-o
    Edit project
  .card-body
    = render 'projects/form'

%br